img.estilosimglatd(data-aos='fade-left', data-aos-delay='200', src='assets/images/tela-2/intro.png') 
button.buttonA.btn( data-aos='fade-left', data-aos-delay='200' data-modal="id01") Saiba Mais

.modal#id01
    .center
        .content 
            h1 Ação de Aprendizagem:
            p Uma ação de aprendizagem contempla uma combinação de métodos e meios. De uma perspectiva de elaboração, podemos ter infinitas possibilidades ao combiná-los visando criar uma estratégia para um evento de aprendizagem.
            p As estratégias determinam a abordagem para alcançar os objetivos de aprendizagem e atender às necessidades e aos interesses dos alunos para melhorar o aprendizado. Nesse sentido, estratégias são uma combinação de métodos e meios incluídos nas atividades pré-instrucionais, na apresentação das informações, nas atividades do aprendiz, nos testes e no acompanhamento.
            p A seguir, você verá alguns recursos que podem ser utilizados como meios de aprendizagem e as respectivas finalidades deles de acordo com o objetivo que se pretende atingir.

    
        .close
 
