img.estilosimg(data-aos='fade-right', data-aos-delay='800', src='assets/images/tela-5/txt5.png')
audio.audio(data-aos='fade-left' autoplay=false controls=true src="assets/audio/audio.mp3"  width="70%" )

