.ajuda#ajuda
  //-button.help.circle(data-modal="pop-ajuda") ?
 
#pop-ajuda.modal(style="display: none")
  div.center
    div.content
      img(src="assets/images/ajuda.png")
      .close.modal-close

            